<body style="background-color: #706a59;">

    {% extends "index.html" %}



    {% block content %}
        <h2 class="profile-title">Profilom</h2>
        <div>
          <div class="balance-block">
              <p class="balance-title">Egyenlegem:</p>
              <p class="balance-balance">{{ current_user.balance }}$</p>
              <a class="balance-upload-button" type="button" data-bs-toggle="modal" data-bs-target="#uploadModal">Feltöltés</a>
              <a class="balance-withdraw-button" type="button" data-bs-toggle="modal" data-bs-target="#withdrawModal">Kifizetés</a>
          </div>


          <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="uploadModalLabel">Válaszd ki milyen összeget szeretnél feltölteni</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <a class="btn btn-primary" href="{{ url_for('upload', money=10) }}">10$</a>
                      <a class="btn btn-primary" href="{{ url_for('upload', money=20) }}">20$</a>
                      <a class="btn btn-primary" href="{{ url_for('upload', money=50) }}">50$</a>
                      <a class="btn btn-primary" href="{{ url_for('upload', money=100) }}">100$</a>
                      <a class="btn btn-primary" href="{{ url_for('upload', money=500)}}">500$</a>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Bezárás</button>
                  </div>
                </div>
              </div>
          </div>

          <div class="modal fade" id="withdrawModal" tabindex="-1" aria-labelledby="withdrawModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="withdrawModalLabel">Válaszd ki milyen összeget szeretnél kiutalni</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <a class="btn btn-primary" href="{{ url_for('withdraw', money=10) }}">10$</a>
                    <a class="btn btn-primary" href="{{ url_for('withdraw', money=20) }}">20$</a>
                    <a class="btn btn-primary" href="{{ url_for('withdraw', money=50) }}">50$</a>
                    <a class="btn btn-primary" href="{{ url_for('withdraw', money=100) }}">100$</a>
                    <a class="btn btn-primary" href="{{ url_for('withdraw', money=500)}}">500$</a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Bezárás</button>
                </div>
              </div>
            </div>
          </div>
        </div>

     {% endblock content %}
</body>