<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Üdvözlünk!</title>
    <style>
        header {
            color: white;
            font-size: 32px;
        }

        p {
            color: white;
            font-size: 26px;
        }
    </style>
</head>
<body style="background-color: #403d45;">
    <header>Kedves {{ name }}</header>

    <main class="content">
        <p class="content-text">Köszönjük, hogy regisztrált a <a href="http://127.0.0.1:5000">weboldalunkon</a>!</p>
    </main>
</body>
</html>