#main_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    user-select: none;
}

.register-username-frame {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 200px);
}

#register_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    user-select: none;
}

.register-title {
    position: absolute;
    left: calc(50% - 140px);
    color: white;
}

.register-username {
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.register-username:focus {
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

.register-email-frame {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
}

.register-email {
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.register-email:focus {
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}


.register-password-frame {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 100px);
}

.register-password {
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.register-show-frame {
    position: absolute;
    top: calc(40% - 10px);
    left: 58%;
}

.register-show-active {
    font-size: 28px;
    user-select: none;
}

.register-show-inactive {
    font-size: 28px;
    user-select: none;
    text-decoration: line-through;
}

.register-show-inactive:hover, .register-show-active:hover {
    cursor: grab;
}

.register-password:focus {
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}


.register-password-confirm-frame {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 50px);
}

.register-password-confirm {
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.register-password-confirm:focus {
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}


.register-error {
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(255, 0, 0, 1);
}

.error-username {
    position: absolute;
    left: calc(50% + 170px);
    top: calc(50% - 200px);
}

.error-email {
    position: absolute;
    left: calc(50% + 170px);
    top: calc(50% - 150px);
}

.error-password {
    position: absolute;
    left: calc(50% + 170px);
    top: calc(50% - 100px);
}

.error-message {
    color: red;
    font-size: 16px;
}


.register-submit-frame {
    position: absolute;
    left: calc(50% - 75px);
    top: calc(50% + 25px);
}

.register-submit {
    width: 150px;
    border-radius: 10px;
}

.register-submit:hover {
    box-shadow: 0 0 50px rgb(0, 200, 0);
}

.register-submit:active {
    margin-top: 3px;
}


#login_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    user-select: none;
}

.login-title {
    position: absolute;
    left: calc(50% - 140px);
    text-align: center;
    color: white;
}

.login-username-frame {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 200px);
}

.login-username {
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.login-username:focus {
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);

}

.login-password-frame {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
}

.login-password {
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.login-password:focus {
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

.login-submit-frame {
    position: absolute;
    left: calc(50% - 75px);
    top: calc(50% - 100px);
}

.login-submit {
    width: 150px;
    border-radius: 10px;
    font-size: 16px;
}

.login-submit:hover {
    box-shadow: 0 0 30px rgba(0, 200, 0, 1);
}

.login-submit:active {
    margin-top: 3px;
}

#settings_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    user-select: none;
}

.settings-title {
    position: absolute;
    left: calc(50% - 150px);
    color: white;
}

.settings-password-change-frame {
    position: absolute;
    width: 75%;
    height: 10%;
    top: 20%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings-password-change-text {
    position: absolute;
    color: white;
    font-size: 24px;
}

.settings-password-change-old {
    position: absolute;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    left: 15%;
}

.settings-password-change-old:focus {
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.settings-password-change-new {
    position: absolute;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    left: 40%;
}

.settings-password-change-new:focus {
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.settings-password-change-confirm {
    position: absolute;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    left: 65%;
}

.settings-password-change-confirm:focus {
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.settings-password-change-confirm-error {
    position: absolute;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    left: 65%;
    box-shadow: 0 0 50px rgba(255, 0, 0, 1);
}

.settings-password-confirm-error {
    position: absolute;
    left: 65%;
    transform: translateY(50px);
    
}

.settings-password-change-submit {
    position: absolute;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    left: 85%;
}

.settings-password-change-submit:hover {
    background-color: #79827b;
    box-shadow: 0 0 50px rgba(0, 200, 0, 1);
}

.settings-password-change-submit:active {
    margin-top: 3px;
}


.profile-title {
    position: absolute;
    background-color: #33322d;
    width: 100%;
    height: 50px;
    color: white;
    text-align: start;
}


.balance-block {
    position: relative;
    display: block;
    width: 300px;
    height: 250px;
    background-color: #a19985;
    top: 100px;
    left: 150px;
    border-radius: 10px;
}

.balance-title {
    position: absolute;
    font-size: 26px;
    left: 30%;
}

.balance-balance {
    position: absolute;
    font-size: 28px;
    font-family: cursive;
    top: 20%;
    left: 45%;
}

.balance-upload-button {
    position: absolute;
    bottom: 30%;
    left: calc(20% - 10px);
    background-color: green;
    color: white;
    font-size: 28px;
    user-select: none;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.balance-upload-button:hover {
    background-color: #0d910f;
}

.balance-upload-button:active {
    margin-left: 3px;
}

.balance-withdraw-button {
    position: absolute;
    bottom: 10%;
    left: calc(20% - 10px);
    background-color: green;
    color: white;
    font-size: 28px;
    user-select: none;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.upload-title {
    position: absolute;
    width: 100%;
    text-align: center;
    color: wheat;
}

.upload-frame {
    position: absolute;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    left: calc(50% - 300px);
    top: calc(50% - 300px);
}

.upload-email-frame {
    position: absolute;
    top: 25%;
    left: 20%;
}

.upload-email {
    font-size: 22px;
    width: 350px;
    border-radius: 10px;
}

.upload-cardnumber-frame {
    position: absolute;
    top: 50%;
    left: 20%;
}

.upload-cardnumber {
    font-size: 22px;
    width: 250px;
    border-radius: 10px;
}

.upload-cvc-frame {
    position: absolute;
    top: 50%;
    left: calc(60% + 10px);
}

.upload-cvc {
    font-size: 22px;
    width: 100px;
    border-radius: 10px;
}

.upload-submit-frame {
    position: absolute;
    top: 75%;
    left: 25%;
}

.upload-submit {
    font-size: 22px;
    width: 300px;
    border-radius: 10px;
}

.upload-submit:focus {
    box-shadow: 0 0 50px rgba(0, 200, 0, 1);
}

.upload-submit:active {
    margin-left: 3px;
}

.roulette-table {
    position: absolute;
    width: calc(100% - 250px);
    height: 50%;
    background-color: #0d910f;
    top: 25%;
    left: 5%;
    border-radius: 20px;
    user-select: none;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
    50% { transform: rotate(180deg); }
    
}

.roulette-wheel {
    position: absolute;
    top: calc(15% - 10px);
    left: 5%;
    animation: spin 10s linear infinite;
    transition: transform 0.5s ease-in-out;
    user-select: none;
}

.roulette-wheel-spin {
    animation: spin 1s linear infinite;
}

.roulette-timer {
    position: absolute;
    font-size: 30px;
    bottom: 3%;
    left: 13%;
}

.coin10 {
    position: absolute;
    left: calc(50% - 300px);
    top: 75%;
    user-select: none;
    border-radius: 50%;
}

.coin25 {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(75% + 5px);
    user-select: none;
    border-radius: 50%;
}

.coin50 {
    position: absolute;
    left: 50%;
    top: 75%;
    user-select: none;
    border-radius: 50%;
}

.coin100 {
    position: absolute;
    left: calc(50% + 150px);
    top: 75%;
    user-select: none;
    border-radius: 50%;
}

.coin500 {
    position: absolute;
    left: calc(50% + 300px);
    top: 75%;
    user-select: none;
    border-radius: 50%;
}

.table0-36 {
    position: absolute;
    left: calc(35% + 2px);
    user-select: none;
}


.roulette-numbers {
    font-size: 38px;
    transform: rotate(-90deg);
}


.roulette-button-frame {
    position: absolute;
    top: 85%;
    left: 60%;
}

.roulette-button {
    font-size: 28px;
    border-radius: 4px;
}

.roulette-balance {
    position: absolute;
    font-size: 28px;
    bottom: 5%;
    right: 1%;
}


.roulette-coin-active {
    overflow: hidden;
    opacity: 0.8;
    transform: scale(0.8);
}